---
import Layout from "../layouts/Layout.astro";
import { GenerateView } from "../components/GenerateView";
---

<Layout title="Generate Flashcards - 10x Cards">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8">Generate Flashcards</h1>
    <GenerateView client:load />
  </main>
</Layout>
